<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CellDelegateMiniLesson.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8320CC561C6E7D7300199F19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8320CC6A1C6E7D7300199F19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8320CC751C6E7D7300199F19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
