<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CourseTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01CBF06F1C6DBDDF0033B8C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01CBF0831C6DBDDF0033B8C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01CBF08E1C6DBDDF0033B8C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
