<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirebaseIntroMiniLesson.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83F3C8EC1C84BC1A005D37A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83F3C9001C84BC1A005D37A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83F3C90B1C84BC1A005D37A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
